@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="Name_Menu"> <h1>Index Page</h1></div>

<div class="Index_Main">
    @*<div class="Main_Sort">Sort by:
        <a class="Button_Sort">Creator</a>
        <a class="Button_Sort">Creation Date</a>
        <a class="Button_Sort">Creator</a>
        </div>*@
    <h3 class="Index_Main_Description">  12 newest public pictures</h3>
    <ul class="cards">
        @if (Model.StoredFiles.Count > 0)
        {
            @foreach (var f in Model.StoredFiles)
            {
                <li>
                    <a href="" class="card">
                        <img src="@Url.Page("/Index","Thumbnail", new {filename=f.Id })" class="card__image" alt="@f.OriginalName" />
                        <div class="card__overlay">
                            <div class="card__header">
                                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                                <div class="card__header-text">
                                    <h3 class="card__title">@f.OriginalName</h3>
                                    <span class="card__status">Creator: @f.Uploader.Email</span>
                                </div>
                            </div>
                            <ul class="card__description">
                                <li>Uploaded at: @f.UploadedAt</li>
                            </ul>
                        </div>
                    </a>
                </li>
            }
        }

        else
        {
            <p class="No_Data"> There are no uploaded pictures</p>
        }
    </ul>
    <h3 class="Index_Main_Description">12 newest public galleries</h3>
    <ul class="cards">
        @if (Model.Galleries.Count > 0)
        {
            @foreach (var f in Model.Galleries)
            {
                <li>
                    <a href="" class="card">
                        <img src="@Url.Page("/Index","Thumbnail", new {filename=f.IdThumbnail })" class="card__image" alt="@f.Name" />
                        <div class="card__overlay">
                            <div class="card__header">
                                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                                <div class="card__header-text">
                                    <h3 class="card__title">@f.Name</h3>
                                    <span class="card__status">Creator: @f.Creator.Email</span>
                                </div>
                            </div>
                            <ul class="card__description">
                                <li>Number of pictures: @f.NumberOfPicture</li>
                            </ul>
                        </div>
                    </a>
                </li>
            }
        }
        else
        {
            <p class="No_Data"> There are no uploaded galleries</p>
        }
    </ul>
