@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="Name_Menu"> <h1>Index Page</h1></div>

<div class="Index_Main">
    @*<div class="Main_Sort">Sort by:
        <a class="Button_Sort">Creator</a>
        <a class="Button_Sort">Creation Date</a>
        <a class="Button_Sort">Creator</a>
        </div>*@
    <h3 class="Index_Main_Description">  12 newest public pictures</h3>
    <div class="Index_Sorted">
        @if (Model.StoredFiles.Count > 0)
        {
            @foreach (var f in Model.StoredFiles)
            {
                @*<div class="Index_Picture">
                    <img src="@Url.Page("/Index","Thumbnail", new {filename=f.Id })" />
                    <p>@f.OriginalName</p>
                    </div>*@
                <div>
                    <a href="" class="Photo">
                        <img src="@Url.Page("/Index","Thumbnail", new {filename=f.Id })" />
                        <div class="Photo__Overlay">
                            <div class="Photo__Header">
                                <svg class="Photo__Arc" xmlns="http://www.w3.org/2000/svg"><path d /></svg>
                                <div class="Photo__Header-text">
                                    <p class="Photo__Title">@f.OriginalName</p>
                                    <span class="Photo__Status">1 hour ago</span>
                                </div>
                            </div>
                            <p class="Photo__Description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
                        </div>
                    </a>
                </div>
            }
        }
        else
        {
            <p class="No_Data"> There are no uploaded pictures</p>
        }
    </div>
    <h3 class="Index_Main_Description">12 newest public galleries</h3>
    <div class="Index_Sorted">
        @if (Model.Galleries.Count > 0)
        {
            @foreach (var f in Model.Galleries)
            {
                <div>
                    <a href="" class="Photo">
                        <img src="@Url.Page("/Index","Thumbnail", new {filename=f.Id })" />
                        <div class="Photo__Overlay">
                            <div class="Photo__Header">
                                @*<svg class="Photo__Arc" xmlns="http://www.w3.org/2000/svg"><path d /></svg>*@
                                <div class="Photo__Header-text">
                                    <p class="Photo__Title">@f.Name</p>
                                    <span class="Photo__Status">1 hour ago</span>
                                </div>
                            </div>
                            <p class="Photo__Description">@f.Creator.Email : Number of pictures @f.NumberOfPicture</p>
                        </div>
                    </a>
                </div>
            }
        }
        else
        {
            <p class="No_Data"> There are no uploaded galleries</p>
        }
    </div>
    @*<div class="Index_Sorted">
        @if(Model.Galleries.Count > 0)
        {
        @foreach (var f in Model.Galleries)
        {
        <div class="Index_Picture">
        <img src="@Url.Page("/Index","Thumbnail", new {filename=f.Id })" />
        <p>@f.Name</p>
        </div>
        }
        }
        </div>*@
</div>
