@page
@model GalleryApp.Areas.User.CRUD_GalleryStoredFile.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GalleryStoredFile[0].Gallery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GalleryStoredFile[0].StoredFile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GalleryStoredFile) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Gallery.CreatorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoredFile.ContentType)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
