@using GalleryApp.Models
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GalleryApp</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GalleryApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="Logo">
            <h2>GalleryApp</h2>
        </div>
        <nav class="Nav_Bar">                            
            <ul class="Nav_Ul">
                <li class="Nav_Button">
                    <a class="Nav_Button_Text" asp-area="" asp-page="/Index">Home</a>
                </li>
                <li class="Nav_Button">
                    <a class="Nav_Button_Text" asp-area="" asp-page="/Upload">Upload</a>
                </li>
                <li class="Nav_Button">
                    <a class="Nav_Button_Text" asp-area="User" asp-page="/CRUD_Gallery/Index">Galleries</a>
                </li>
            </ul>
            @*<partial name="_LoginPartial" />*@                
        </nav>
        <footer>
            @if (SignInManager.IsSignedIn(User))
                {
                    <p class="Footer_Greeting">Hello @User.Identity?.Name! </p>
                    <a class="Footer_Button" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                        <img class="Footer_Icon" src="./images/Login.png" alt=""> 
                        <h3>Logout</h3>
                    </a>
                    <a class="Footer_Button asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                        <img class="Footer_Icon" src="./images/Avatar.png" alt"">
                        <h3>Registration</h3>
                    </a>
            }
            else
            {
                <p class="Footer_Greeting">Anonym user</p>
                <a class="Footer_Button" id="LogOut" asp-area="Identity" asp-page="/Account/Login">
                    <img class="Footer_Icon" src="./images/Login.png" alt=""> 
                    <h3>Login</h3>
                </a>
                <a class="Footer_Button" id="Avatar" asp-area="Identity" asp-page="/Account/Register">
                   <img class="Footer_Icon" src="./images/Avatar.png" alt"">
                   <h3>Registration</h3>
                </a>
            }
            <p class="Credentials">Made by Aldra1n from SPŠSE a VOŠ P3</p>
        </footer>
    </header>
    
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">@TempData["SuccessMessage"]</div>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
        }

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>