@using GalleryApp.Models
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GalleryApp</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GalleryApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="Logo">

        </div>
        <nav class="Nav_Bar">                            
            <ul class="navbar-nav flex-grow-1">
                <li class="Nav_Button">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                </li>
                <li class="Nav_Button">
                    <a class="nav-link text-dark" asp-area="" asp-page="/Upload">Upload</a>
                </li>
                <li class="Nav_Button">
                    <a class="nav-link text-dark" asp-area="User" asp-page="/CRUD_Gallery/Index">Galleries</a>
                </li>
                <li class="Nav_Button">
                    <a class="nav-l" asp-area="User" asp-page="/CRUD_GalleryStoredFile/Index">Pictures</a>
                </li>
            </ul>
            @*<partial name="_LoginPartial" />*@                
        </nav>
        <footer>
            @if (SignInManager.IsSignedIn(User))
                {
                    <div class="Footer_Greeting">Hello @User.Identity?.Name! </div>
                    <a class="Footer_Button" id="LogOut" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                        <div class="Footer_Login"> </div> Logout
                    </a>
                    <a class="Footer_Button id="Avatar" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                        <div class="Footer_Avatar"> </div> Edit
                    </a>
            }
            else
            {
                <a class="Footer_Button" id="LogOut" asp-area="Identity" asp-page="/Account/Login">
                    <img src="../wwwroot/images/Login.png" alt=""> 
                    <h3>Login</h3>
                </a>
                <a class="Footer_Button" id="Avatar" asp-area="Identity" asp-page="/Account/Register">
                   <img src="../wwwroot/images/Avatar.png" alt"">
                   <h3>Registration</h3>
                </a>
            }
            <div class="Credentials">Made by Aldra1n from SPŠSE a VOŠ P3</div>
        </footer>
    </header>
    
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">@TempData["SuccessMessage"]</div>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
        }

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    

</body>
</html>